@model UniinfoAsp.Models.Funcionario

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ViewBag

<div style="margin:90px 250px 20px 320px;">
    <h4>Deletar</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ramal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ramal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nComputador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nComputador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.setor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.setor)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <input type="submit" value="Deletar" class="btn btn-default" />
        </div>
    }
    <div class="btn btn-primary" style="margin-top:5px;">
        @Html.ActionLink("Voltar", "Index", null, new { style = "color:white;" })
    </div>
    <br>
    <br>
    <p class="mb-4">
        @ViewBag.message
    </p>
</div>
