@model IEnumerable<UniinfoAsp.Models.Chamado>

@{
    ViewBag.Title = "Chamado";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chamados</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.nome) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statusAtendimento)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Problema.tipoProblema)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.nome)
        </td>
        <td style="max-width:40px; text-overflow:ellipsis; overflow:hidden; white-space: nowrap">
            @Html.DisplayFor(modelItem => item.descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.statusAtendimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Problema.tipoProblema)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id = item.idChamado }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.idChamado }) |
            @Html.ActionLink("Posicionar", "Posicionar", new { id = item.idChamado })
        </td>
    </tr>
}

</table>
