@model IEnumerable<UniinfoAsp.Models.Chamado>

@{
    ViewBag.Title = "Chamado";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Html.ViewBag
<div style="margin-left:100px; margin-right:100px;">
    <h2 style="margin:90px 0px 55px 0px;">Chamados</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusAtendimento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Problema.tipoProblema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario.email)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.nome)
            </td>
            <td style="max-width:40px; text-overflow:ellipsis; overflow:hidden; white-space: nowrap">
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusAtendimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Problema.tipoProblema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.email)
            </td>
            <td class="btn btn-primary" style=" margin:0px 5px 5px 10px;">
                @Html.ActionLink("Detalhes", "Details", new { id = item.idChamado }, new { style = "color:white; padding:10px;" })
            </td>
            <td class="btn btn-primary">
                @Html.ActionLink("Posicionar", "Posicionar", new { id = item.idChamado }, new { style = "color:white; padding:10px;" })
            </td>
            <td class="btn btn-primary" style="margin-left:5px;">
                @Html.ActionLink("Deletar", "Delete", new { id = item.idChamado }, new { style = "color:white; padding:10px;" })
            </td>
        </tr>
        }

    </table>
</div>