@model UniinfoAsp.Models.Loginn

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Loginn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.nComputador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.nComputador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idLogin }) |
    @Html.ActionLink("Voltar", "Index")
</p>
