@model IEnumerable<UniinfoAsp.Models.Loginn>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Logins</h2>

<p>
    @Html.ActionLink("Criar novo Login", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nivelAcesso.tipoAcesso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nivelAcesso.tipoAcesso)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idLogin }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.idLogin }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.idLogin }) |
        </td>
    </tr>
}

</table>
