@model UniinfoAsp.Models.chamadoAtendimento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>chamadoAtendimento</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chamado.Problema.tipoProblema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamado.Problema.tipoProblema)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chamado.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamado.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chamado.dataChamado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chamado.dataChamado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAtendimento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
