@model IEnumerable<UniinfoAsp.Models.chamadoAtendimento>

@{
    ViewBag.Title = "Chamados";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chamados em atendimento</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chamado.statusAtendimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.nome)
        </td>
        <td>
            @Html.DisplayFor(model => item.Funcionario.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chamado.statusAtendimento)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id = item.idAtendimento }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.idAtendimento }) |
            @Html.ActionLink("Encerrar", "Encerrar", new { id = item.idAtendimento }) 
        </td>
    </tr>
}

</table>
