@model UniinfoAsp.Models.Problema

@{
    ViewBag.Title = "Tipos de Problemas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ViewBag

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div style="margin:90px 250px 20px 320px;">
    <h2 style="margin-bottom:15px">Digite as informações</h2>
    <h4>Problema</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.tipoProblema, "Tipo de Problema", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tipoProblema, new { htmlAttributes = new { @maxlength = "30", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tipoProblema, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Criar" class="btn btn-default" />
        </div>
    </div>

    <div class="btn btn-primary" style="margin-left:15px;">
        @Html.ActionLink("Voltar", "Index", null, new { style = "color:white;" })
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
