@model IEnumerable<UniinfoAsp.Models.Problema>

@{
    ViewBag.Title = "Problema";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Problema</h2>

<p>
    @Html.ActionLink("Adicionar novo tipo de problema", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoProblema)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoProblema)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idProblema }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idProblema })

        </td>
    </tr>
}

</table>
