@model UniinfoAsp.Models.Chamado

@{
    ViewBag.Title = "CadastrarChamado";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

<h2>CadastrarChamado</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Chamado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.idFuncionario, "idFuncionario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idFuncionario", new SelectList(ViewBag.funcionarioId, "idFuncionario", "idFuncionario"), "id", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idFuncionario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idProblema, "idProblema", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idProblema", new SelectList(ViewBag.problema, "idProblema", "tipoProblema"), "Problema", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idProblema, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.dataChamado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.dataChamado, new { @Value = String.Format("{0:dd/MM/yyyy}", System.DateTime.Today) })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.statusAtendimento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.statusAtendimento, new { @Value = String.Format("Aberto") })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
